.priceDiscount{
    color:#6C6C6C;
    font-weight: 900;
    font-size: 16px;
}
.textPriceDiscount{
    color:#6C6C6C;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    display: block;
}