.title {
    color: #A8CF45;
  font-size: 23px;
  padding-bottom: 8px;
  font-weight: 700;
  text-align: center;
}

:global(.vtex-shelf-1-x-container) :global(.vtex-shelf-1-x-title){
    display:none;
}
.arrow{
    display: flex;
    align-items: center;
    border-radius: 100%;
}
