:global(.vtex-slider-layout-0-x-slideChildrenContainer--slidercategory){
    text-align: center;
}
.paginationDotsContainer{
    bottom: -15px;
}
.paginationDot--carousel{
    background: #A8CF45;
}
.paginationDot--carousel--isActive{
    background:#282D2F;
    width: 1.625rem !important;
    border-radius: 20px;
}
.sliderTrackContainer--slidercategory{
    padding: 0 25px;
}
.sliderLayoutContainer--carousel{
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
}
/*SLIDER MINI BANNERS*/
.slide--carousel-minibanners{
    padding: 0 15px;
}
.sliderLayoutContainer--carousel-minibanners{
    max-width: 96rem;
    margin-left: auto;
    margin-right: auto;
}