.quantitySelectorContainer {
    margin: 0;
}

:global(.vtex-numeric-stepper__input) {
    flex-grow: 1;
}
.quantitySelectorStepper :global(.vtex-numeric-stepper-wrapper){
    border: 1px solid #a4d06d;
    border-radius: 35px;
}
.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button),
.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button),
.quantitySelectorStepper :global(.vtex-numeric-stepper__input){
    border: 0;
    background: transparent;
    height: 54px;
}
.summaryContainer{
    margin: 0;
}