.groupName {
    display: none;
}

.specificationName {
    color: #EB6A18;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 500;
    display: block;
    border-bottom: 2px solid #c4c4c4;
    padding-bottom: 1rem;
    position: relative;
}

.specificationName::after {
    content: "";
    display: block;
    background: #EB6A18;
    height: 4px;
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 150px;
}

.specificationValue {
    line-height: 1.3rem;
}