.installments{
    font-size: 0px;
    color: #A8CF45;
    text-align: left;
    line-height: 16px;
}
.installmentsNumber{
    font-size: 12px;
    color: #A8CF45;
    font-weight: 900;
}
.installmentValue{
    font-size: 16px;
    color: #A8CF45;
    font-weight: 900;
}
.installmentsNumber::after{
    content: 'x de';
    font-size: 12px;
    color: #A8CF45;
    margin-right: 2px;
    font-weight: 900;
}
.sellingPrice {
    text-align: center;
    padding-bottom: 10px;
}
.sellingPriceValue{
    color: #57564B;
    font-weight: 900;
    font-size: 16px;
    line-height: 18px;
}

.installments--price-install-prod{
    font-size: 0px;
}
.installmentsNumber--price-install-prod, .installmentValue--price-install-prod{
    font-size: 24px;
}
.installmentsNumber--price-install-prod::after{
    font-size: 24px;
    margin-right: 5px;
}