@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
}
@font-face {
  font-family: 'Bebas Neue', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
}
